<div class="page centered">
    <div class="top">
        <h1 class="left">UAE Pages</h1>
        <h3 class="right">Putting the UAE online.</h3>
        <div class="clearfix"></div>
    </div>
    <div class="search">
        <input type="text" class="search-box" placeholder="search">
    </div>
    <div class="filters">
        <% @categories.each do |c| %>
            <div class="filter" data-category="<%= c %>"><%= c %></div>
        <% end %>
    </div>
    <div class="pages">
        <% @pages.each do |p| %>
            <div class="page-preview" data-name="<%= p[:name] %>"
                                      data-phone="<%= p[:phone] %>"
                                      data-slogan="<%= p[:slogan] %>"
                                      data-status="<%= p[:status] %>"
                                      data-location="<%= p[:location] %>"
                                      data-city="<%= p[:city] %>"
                                      data-country="<%= p[:country] %>"
                                      data-category="<%= p[:category] %>">

                <div class="page-name"><%= p[:name] %></div>
                <div class="page-phone"><%= p[:phone] %></div>
            </div>
        <% end %>
    </div>
</div>
