<div class="home">
    <div class="header centered">
        <div class="top">
            <div class="logo left">
                <img src="/assets/logo.png" width="120" alt="" />
            </div>
            <h3 class="left slogan"><%= @slogan %></h3>
            <h3 class="right create"><%= @create_own %></h3>
            <div class="clearfix"></div>
        </div>
        <div class="search">
            <input type="text" class="search-box" placeholder="<%=@search%>">
        </div>
        <div class="filters">
            <h3 class="filters-heading left"><%= @filter %></h3>
            <% @categories.each do |c| %>
                <div class="filter left" data-category="<%= c %>"><%= c %></div>
            <% end %>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="pages">
        <div class='pages-container centered'>
            <% @pages.each do |p| %>
                <a href='/view/<%= p[:subdomain] %>' class='biz-name'>
                    <div class="page-preview"
                         data-name="<%= p.name %>"
                         data-phone="<%= p.phone %>"
                         data-slogan="<%= p.slogan %>"
                         data-status="<%= p.status %>"
                         data-location="<%= p.location %>"
                         data-city="<%= p.city %>"
                         data-country="<%= p.country %>"
                         data-category="<%= p.category && p.category.name %>">

                        <div class="page-name">
                            <%= p.name %>
                        </div>
                        <div class="page-phone"><%= p.phone %></div>
                    </div>
                </a>
            <% end %>
        </div>
    </div>
</div>
