<div class="page centered">
    <a href="/home"><div class="home-link"><%=@home%></div></a>
    <div class="top">
        <h1 class="name left"><%= @store.name %></h1>
        <h3 class="phone right"><%= @store.phone %></h3>
        <div class="clearfix"></div>
    </div>
    <div class="banner centered">
        <div class="collage">
            <% (1..13).to_a.sort{ rand() - 0.5 }[0..11].each do |i| %>
                <img src="/assets/collage-<%= @category %><%= i %>.jpg"
                     width="160" height='160' alt="" />
            <% end %>
        </div>
        <div class="collage-overlay"></div>
        <h3 class="slogan text-centered"><%= @store.slogan %></h3>
        <div class="clearfix"></div>
    </div>
    <div class="bottom">
        <div class="bottom-left left">
            <div class="status">
                <h3 class="updates-heading"><%=@updates%></h3>
                <div class="status-text"><%= @store.status %></div>
            </div>
            <div class="hours">
                <h3 class="hours-heading"><%=@hours%></h3>
                <% @store.hours.each do |h| %>
                    <div class="hour"><%= h['title'] %>: <%= h['value'] %></div>
                <% end %>
            </div>
        </div>
        <div class="bottom-right right">
            <div class="map" data-lat="<%= @store.latitude || '24.4667' %>"
                             data-long="<%= @store.longitude || '54.3667' %>">
            </div>
            <div class="address">
                <%= @store.location %>,
                <%= @store.city %>,
                <%= @store.country %>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer">
        <hr>
        <%= @create_own %>
    </div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtw2Tt35lIP9sh2WA6cUYONONBp7GDvJA&sensor=false"></script>
</div>
