<!DOCTYPE html>
<html>
<head>
  <title><%= @store && @store.name || 'Jed' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

  <meta name="description"
        content="<%= @store && @store.slogan || 'Jed puts small businesses online' %>">
  <meta name="author" content="<%= @store && @store.name || 'Jed' %>">
  <meta property="og:title" content="<%= @store && @store.name || 'Jed' %>">
  <meta property="og:site_name" content="<%= @store && @store.name || 'Jed' %>">
  <!--meta property="og:image" content="http://hackyale.com/img/logo.png"-->
  <meta property="og:url"
        content="<%= "http://#{@store && @store.subdomain}.jed.ae" || 'http://jed.ae' %>">
  <meta property="og:type" content="<%= @store && @store.category || 'company' %>">
  <meta property="og:description"
        content="<%= @store && @store.slogan || 'Jed puts small businesses online' %>">
</head>
<body class="<%= @page_showing %>">

<%= yield %>

</body>
</html>
